body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000000;
}

.main {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.table td:last-child {
  vertical-align: middle;
  text-align: center;
}


.table th {
  background-color: #ff5722;
  color: white;
  text-align: left;
  padding: 12px;
}

.table td {
  padding: 12px;
  border-top: 1px solid #eee;
  border: 1px solid #ddd;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #a9cee8;
  cursor: pointer;
}

.btn {
  background-color: #888;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #555;
}

.table img {
  border-radius: 4px;
}
