body {
    font-family: Arial,sans-serif;
    background-color: #f7f5f2;
    color: #444;

}

h1 {
    text-align: center;
    color: #3a2d2d;
    background-color: #d9c2a3;
    padding: 15px;
    border-radius: 10px;
}

.form-section {
    width: 70%;
}

.form.group {
    margin: 5px;
}

.form-group input, 
.form-group textarea, 
.form-group select {
    width: 80%;
    border-width: 1px;
    border-color: #444;
    border-radius: 5px;
}

.form-group input[type="checkbox"] {
   height: 20px;
    width: 20px;
}

.btn{
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    border-color: green
}

.btn-primary {
    background-color: aquamarine;
    color: #444;
}

.btn-secondary {
    background-color: bisque;
    color: #444;
}