body {
    font-family: Arial,sans-serif;
    background-color: #f7f5f2;
    color: #444;
    font-size: 30px;
}

.container {
   width: 90%;
}

table {
   box-shadow: 5px 5px 5px #444;
   text-align: center;
}

thead {
   background-color: #a67c52;
   color: white;
   padding: 5px;
}

tbody tr:nth-child(even) {
   background-color: lightgrey;
}

tbody tr:nth-child(odd) {
   background-color: white;
}

th,
td {
   padding: 10px;
}

tbody tr:hover {
   background-color: aquamarine;
}
 
.table-btn {
  border-radius: 5px;
  background-color: lightgray;
  color: #444;
  cursor: pointer;
}