.main {
    box-sizing: border-box;
    font-size: large;
}

.container {
    /* border: 5px solid black; */
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: large;
}

/* Table Header */
thead {
    background: #ff5722;
    color: white;
    font-weight: bold;
    text-align: left;
}

/* Table Body - Alternate Row Colors */
tbody tr:nth-child(odd) {
    background: #ffffff;
}

tbody tr:nth-child(even) {
    background: #e9e8e8;
}

/* Table Cells */
th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

/* Hover Effect */
tbody tr:hover {
    background: #adcfeb;
    cursor: pointer;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background: #888;
    color: white;
}
.btn:hover {
    opacity: 0.8;
}

/* Responsive Table */
@media (max-width: 768px) {
    th, td {
        padding: 10px;
        font-size: 14px;
    }
}
