* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-width: 450px;
    display: flex;
    flex-direction: column;
}

.header {
    position: sticky;
    top: 0px;
    background-color: #5f5f5f;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 30px;
    font-size: 30px;
}

.main {
    min-height: calc(100vh - 200px);
    margin: auto;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.logo a {
    width: 7%;
}

.logo img {
    width: 6%;
    min-width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-buttons button{
    border: none;
    background-color: #f8d136;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    color: #000000;
    font-size: 16px;
    min-width: 100px;
}

.auth-buttons button:hover {
    background-color: #c99e04;
    color: #fff;
}

.auth-buttons button:active {
    background-color: #000000;
    color: #fff;
}

.auth-buttons #uName {
    font-size: large;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 15px 30px;
}

.footer h3 {
    color: tomato;
}

.footer a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.footer a:hover {
    color: cadetblue;
}

.links ul {
    padding: 0;
}
.links li {
    list-style: none;
}

@media (max-width: 980px) {
    .footer {
        grid-template-columns: 1fr 1fr;
        font-size: 12px;
        padding: 5px;
    }
}


@media (max-width: 500px) {
    .footer {
        grid-template-columns: 1fr;
        font-size: 12px;
        padding: 5px;
    }

    .logo img {
        width: 40px;
        height: 40px;
    }
    .auth-buttons button{
        font-size: 10px;
        padding: 5px 5px;
        margin-right: 5px;
    }
}